<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng app="myapp" ng controller="EmployeeController">
<form>
<pre>
Employee name:<input type="text" ng-model="employee.ename">
branch:<input type="text" ng-model="employee.department">
salary:<input type="text" ng-model="employee.salary">
dob:<input type="text" ng-model="employee.dob">
<input type="submit" ng-click="addemployee()">
</pre>
</form>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script type="text/javascript" src="appc.js"></script>
<script type="text/javascript" src="empcontrollerc.js"></script>
<script type="text/javascript" src="employeeservicec.js"></script>
</html>